*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: "Lato", Arial, sans-serif;
    background-color: #f8f9fd;
}
div.frame{
    width: 100%;
    padding: 112px 0px;
}
.container{
    width: 100%;
    padding: 0 15px;
    margin: 0 auto;
    max-width: 1140px;
}
.row{
    width: 100%;
    display: flex;
    margin: 0 -15px;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}
.form-login{
    flex-grow: 1;
    max-width: 41.666667%;
    padding: 0 15px;
    background-color: #fff;
    box-shadow: 0px 10px 34px -15px rgba(0,0,0,0.24);

}
.login-wrap{
    padding: 48px;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: #fff;

}
 .icon {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    margin-bottom: 20px;
    background-color: #fff;
}

.icon i{
    border-radius: 100%;
    font-size: 32px;
    color:#fff;
    background-color: #00A9FF;
    padding: 20px;
}

.login-wrap .title{
    font-size: 24px;
    font-weight: 600;
    margin-bottom: 20px;
}
.form{
    width: 100%;
}
.form-item{
    position: relative;
    margin: 30px 0;
}
.form-item label{
    background-color: #fff;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    left: 5%;
    color: #000;
    pointer-events: none;
    transition: all 0.2s ease;
    font-size: 16px;
    font-weight: 500;
}
.form-item input{
    width: 100%;
    border: 1px solid #ccc;
    border-radius: 5px;
    padding: 15px 10px;
    outline: none;
    transition: all 0.3s ease;
}
.form-item input:focus{
    box-shadow: none;
    border: 1px solid #1089ff;
}
.form-item input:focus + label,
.form-item input:valid + label{
    top: 0;
    font-weight: 400;
    font-size: 13px;
}
.form-login .btnLogin{
    width: 100%;
    color: #fff;
    border: 1px solid #1089ff;
    background-color: #1089ff;
    cursor: pointer;
    font-size: 16px;
    font-weight: 500;
    height: 52px;
    border-radius: 5px;
    transition: all 0.3s ease;
    margin-bottom: 30px;
}
.form-login .btnLogin:hover{
    opacity: 0.8;
}
.form-group{
    display: flex;
    justify-content: space-between;
    color: #1089ff;
    font-size: 16px;
}
.form-group .item{
    display: flex;
    align-items: center;
}
#rememberBtn{
    cursor: pointer;
    color: #1089ff;
    margin-right: 10px;
}
.form-group div:last-child{
    transition: all 0.3s ease;
    cursor: pointer;
}
.form-group div:last-child:hover{
    color: #0056b3;
}
