
/*  */
/* Begin Main Content */
/*  */
/*  */
.category-items{
    padding-top: 32px;
}
.category-items .block-title {
    font-weight: 700;
    font-size: 20px;
    line-height: 30px;
    margin-bottom: 26px;
    text-transform: uppercase;
}
.category-items .block-content {
    border-bottom: 1px solid #e6e7e8;
    padding-bottom: 20px;


}
.category-items .category-item-slide{
    padding: 0 23px !important;
    display: flex;
}


.category-items .block-content .category-item{
    text-align: center;
    padding: 0 36px;
}
.category-item .category-title{
    min-height: 60px;
    font-weight: 500;
    font-size: 14px;
    line-height: 20px;
    text-align: center;
    text-transform: uppercase;
}

.block-product{
}
.block-product .block-heading{
    margin-bottom: 10px;
    display: flex;
    align-items: center;
}
.block-product .block-heading .title{
    margin: 0;
    font-weight: 700;
    font-size: 20px;
    line-height: 30px;
}

.product-items{
    display: flex;
}
.product-item{
    padding: 0 16px;
    margin-bottom:38px ;
}

.product-item .item__image
{
    width: 100%;
    margin-bottom: 8px;
    position: relative;
}

  .product-item .item__image img
{
    width: 100%;
    object-fit: cover;
    height: 100%;
}

.colors{
    display: flex;
    margin-bottom: 2px;
    align-items: center;
}
.colors .color__option{
    margin: 0 8px 10px 0;
    padding: 2px;
    background-image: url("https://media.canifa.com/attribute/swatch/images/sw001.png");
    width: 24px;
    height: 24px;
    border-radius: 50%;
    border:1px solid #e6e7e8;
    background-repeat: no-repeat;
    background-position: center;
    background-clip: content-box;
    background-size: cover;

    cursor: pointer;
}

.colors .color__option.selected{
    border-color:#333f48 ;

}

.product-item .product-item-button-tocart{
    bottom: 15px;
}
.product-item .product-item-button-tocart{
    background: rgba(250,250,250,.85);
    border-radius: 2px;
    height: 36px;
    cursor: pointer;
    position: absolute;
    z-index: 20;
    bottom: 8px;
    left: 8px;
    right: 8px;
    color: #333f48;
    font-weight: 600;
    font-size: 12px;
    line-height: 16px;
    display: flex;
    align-items: center;
    justify-content: center;
    visibility: hidden;
    opacity: 0;
    transition: all .5s linear;
}
.product-item:hover .product-item-button-tocart{
    opacity: 1;
    visibility: visible !important;
}


.product-item .product-item-name{
    font-size: 14px;
    color: #333f48;
    font-weight: 400;
    line-height: 1.43;
    text-overflow: ellipsis;
    margin-bottom: 4px;
}

.product-item .product-item-name a{
    color: #333f48;
    text-decoration: none;

}



.product-item .product-item-name:hover a{
    color: #da291c;
}
.product-item .price-box{
    display: flex;
}
.product-item .price-box .normal-price{
    width: 100%;
    font-weight: 700;
    font-size: 14px;
    line-height: 22px;
    display: block;
}

#content .site-main{
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    max-width: none;
    padding-left: 7.64vw;
    padding-right: 7.64vw;
    display: none;
}
.form-us.active,
.main-content.active,
.site-main.active {
    display: block !important;
}
.site-main.reuslt-search{
    opacity: 1;
    visibility: visible;
}
.site-main .page-main-search{
    margin-top: 24px;
}
.site-main .total-items{
    font-weight: 400;
    font-size: 14px;
    line-height: 22px;
    margin-bottom: 20px;
}
.site-main .main .product-items{
    display: flex;
    margin: 0 -16px;
    flex-wrap: wrap;
}
/*  */
/* Begin Block  New Product */

.block-new-product .block-heading{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom:10px ;
}
.block-new-product .block-heading h2{
    font-size: 20px;
    font-weight: 700;
    line-height: 30px;

}

.block-new-product .block-content .products{
    flex-wrap: wrap;
}
.product-item{
    padding: 0 16px;
    margin-bottom:38px ;
}

.product-item .item__image
{
    width: 100%;
    margin-bottom: 8px;
    position: relative;
}

  .product-item .item__image img
{
    width: 100%;
    object-fit: cover;
    height: 498px;
}
.list-page{
    margin: 20px 0;
    list-style: none;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}
.list-page li{
    margin: 0 4px;
    cursor: pointer;
    width: 32px;
    height: 32px;
    display: inherit;
    font-size: 16px;
    justify-content: center;
    align-items: center;
}
.list-page li.active{
    border: 1px solid #da291c;
    border-radius: 5px;
    color: #da291c;
}
.list-page .page-prev,
.list-page .page-next{
   display: none ;
}
.list-page #btn-page-prev,
.list-page #btn-page-next{
    border: none;
    background-color: #fff;
}
.list-page #btn-page-prev i,
.list-page #btn-page-next i{
    font-size: 16px;
    color: #333f48 !important;
    width: 32px;


}
/* End Block  New Product */
/*  */
/*  */
/* End Main Content */
/*  */
