
.main-form{
    display: flex;
    width: 100%;
    padding: 20px 7.64vw;
    margin: 98px auto;
    width: 100%;
    position: relative;
}

.form-us{
    min-width: 20%;
    position: relative;
}
.form-us .content{
    display: flex;
    width: 100%;
    min-height: 700px;
    position: relative;

}
.form-us .nav{
    background-color: #fff;
    box-shadow: 0 0 1px rgba(40,41,61,.08), 0 0.5px 2px rgba(96,97,112,.16);
    width: 80%;
    text-align: center;
    padding: 10px;
    border-radius: 5px;
    height: fit-content;
    margin-bottom: 20px;
    height: 100%;
}
.form-us .nav-item{
    list-style: none;
    padding: 15px;
    cursor: pointer;
    border-radius: 4px;
    transition: all 0.3s ease;
    margin-bottom: 20px;
    font-size: 16px;
    font-weight: 600;
    border-bottom: 1px solid #ccc;
    position: relative;
}
.list-nav{

}
.nav-item i {
    background-color: transparent;
    color: #000;
    font-size: 16px;
    margin-right: 10px;
}
.nav-item:hover{
    background-color: #176B87;

}
.nav-item:hover > a,
.nav-item:hover > span,
.nav-item:hover > i{
    color: #F5F7F8 !important;

}
.nav-item.active > a,
.nav-item.active > span,
.nav-item.active{
    background-color: #176B87;
    color: #F5F7F8 !important;
}
.nav-item i{
    margin-left: 10px;
}
 .sub-nav{
    background-color: #F3F3F3;
    padding: 10px;
    width: 100%;
    height: 100%;
}
.nav-item i {
    transition: all 0.4s;
}
.nav-item.open-sub-nav{
    margin: 0;
}
 li .sub-nav .active{
    background-color: #818FB4;
}
li .sub-nav .active a{
    color: #fff ;

}
.nav-item.open-sub-nav i{
    transform: rotate(-180deg);
    color: #000 !important;
}
.nav-item.open-sub-nav + li .sub-nav{
    display: block !important
}
.sub-nav li:not(.logout){
    list-style: none;
    padding: 10px;
    transition: all 0.2s ease;
    border-radius: 4px;
    margin-bottom: 10px;
}
.sub-nav  a{
    text-decoration: none;
    color:#000 ;
    font-weight: 700;
}
 .sub-nav li:hover:not(.logout):not(.active){
    background-color: #818FB4 !important;
}
 .sub-nav li:hover:not(.logout):not(.active) a{
    color: #fff !important;
}


.form-us .breadcrumb{
    display: flex;
    align-items: center;
    margin-bottom: 10px;

}
.form-us .breadcrumb-item,
.form-us .breadcrumb-item a{
    color: #a9a5a5;
    font-size: 14p;
}
.form-us .breadcrumb-item a{ 
    text-decoration: none;
}
.form-us .line{
    width: 2px;
    height: 15px;
    background-color: #ccc;
    margin:0px 10px;

}
.form-us .breadcrumb-item{
}

.account-main{
    box-shadow: 0 0 1px rgba(40,41,61,.08), 0 0.5px 2px rgba(96,97,112,.16);
    border-radius: 8px;
    padding: 20px;
    width: 80%;
    margin-top: 10px;
    margin: 0 auto;
    background-color: #fff;
}
.account-main .form-group{
    margin-bottom: 16px;
    display: flex;
    flex-direction: column; 
    justify-content: center;
}
.account-main .title {
    margin-bottom: 24px;
    font-size: 24px;
    font-weight: 700;
}
.account-main .label{
    font-weight: 700;
    font-size: 16px;
    margin-bottom: 10px;
}

.account-main .control{
    display: flex;
    align-items: center;

}
.account-main .control div{
    display: inherit;
    align-items: center;
    justify-content: center;
}
.account-main .control label{
    margin-left: 10px;
    font-size: 16px;
    color: #74869b;
}
.account-main .control div:nth-child(2),
.account-main .control div:nth-child(3){
    margin-left: 25px;
}
select,
.account-main input{
    width: 100%;
    height: 48px;
    padding: 10px 20px;
    outline: none;
    border: 1px solid #cbd5e1;
    color: #333f48;
    border-radius: 4px;
    outline: none;
    font-size: 14px;
    margin: 0 auto;
}
.account-main input:focus{
    border-color: #63b1bc;
    outline: 2px solid rgba(99,177,188,.15);
}
.account-main .form-button{
    margin-bottom: 20px;
}
.account-main .btnSave{
    width: 100%;
    border: 1px solid ;
    background-color: #edf1f5;
    border-color: #cbd5e1;
    color: #a6b3c2;
    height: 48px;
    padding: 10px 20px;
    font-weight: 700;
    font-size: 16px;
    cursor: pointer;
}

.account-main .form.opened{
    display: block;
}
.account-main .form{
    display: none;
}

.header-group-icon .header-cart-icon {
    position: relative;
}
.header-cart-icon .container-minicart{
    width: 100%;
    height: 100%;
    background-color: rgba(0,0,0,.2);
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    visibility: hidden;
    opacity: 0;
    
    transition: all 0.2s linear;
}
.block-minicart{
}
@keyframes RightToMid{
    from{
        transform: translateX(-250px);
        opacity: 0;
    }
    to{
        transform: translateX(0);
        opacity: 1;
    }
}
.container-minicart.opened{
    visibility: visible;
    opacity: 1;
}
.header-cart-icon .block-minicart{
    position: fixed !important;
    top: 0;
    background-color: #fff;
    right: 0;
    width: 424px;
    height: 100%;
    display: flex;
    flex-direction: column;
    transition: all 0.3s linear;
    z-index: 9999999;
}
.minicart-items{
    background-color: #fff;
    padding: 0 16px;
    list-style: none;
}
.minicart-items .minicart-item{
    padding: 16px 0;
    border-bottom: 1px solid #edf1f5;
}
.block-heading{
    padding: 17px 16px;
    position: relative;
    background-color: #fff;
    border-bottom: 1px solid #edf1f5;
}
.block-heading .minicart-title{
    font-weight: 700;
    font-size: 20px;
    list-style: 30px;
}
.minicart-item-photo{
    width: 74px;
    min-width: 74px;
    margin-right: 28px;
    position: relative;
    overflow: hidden;
}
.minicart-content{
    flex-grow: 1;
    background: #fafafa;
    overflow: auto;
}
.minicart-item-photo img{
    width: 100%;

}

.minicart-item-details{
    display: flex;
    width: calc(100% - 102px);
    flex-direction: column;
}
.mini-cart-info{
    display: flex;
    position: relative;
}
.minicart-item-name{
    margin: 0 0 8px;
    font-weight: 400;
    font-size: 12px;
    line-height: 16px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    color: #333f48;
    display: block;

}
.minicart-item-name a{
    color: #333f48;
    text-decoration: none;
} 
.minicart-item-option {
 font-weight: 400;
    font-size: 12px;
    line-height: 16px;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-align: center;
    align-items: center;
    margin-right: 8px;
}
.minicart-item-options{
    margin-bottom: 8px;
    display: flex;
    flex-wrap: wrap;
    align-items: center;

}

.btnMinus,.btnPlus{
    border-radius: 0 ;
    border: 1px solid #e6e1e1;
    background-color: #fff;
    width: 28px;
    height: 26px;
    min-width: 28px;
    padding: 0;
    color: #ccc;
}
.minicart-item-bottom{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: auto;
}
.minicart-item-remove{
    width: 16px;
    height: 16px;
    border: none;
    padding: 0;
    cursor: pointer;
    background: rgba(250,250,250,.5);
    border-radius: 2px;
    background-repeat: no-repeat;
    background-position: center;
    background-image: url("data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iMTIiIGhlaWdodD0iMTIiIHZpZXdCb3g9IjAgMCAxMiAxMiIgZmlsbD0ibm9uZSIgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIj4KPHBhdGggZD0iTTkgM0wzIDlNMyAzTDkgOSIgc3Ryb2tlPSIjMzMzRjQ4IiBzdHJva2Utd2lkdGg9IjEuMiIgc3Ryb2tlLWxpbmVjYXA9InJvdW5kIiBzdHJva2UtbGluZWpvaW49InJvdW5kIi8+Cjwvc3ZnPgo=");
    position: absolute;
    top: 2px;
    left: 2px;
    z-index: 10;
}
.minicart-item-price{

}
.normal-price{
    font-weight: 700;
}

.amount{
    padding: 5px;
}
.minicart-close{
    border: none;
    background-color: #fff;
    font-size: 20px;
}
.block-heading{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.minucart-item{
    border-bottom: 1px solid #edf1f5;
    padding: 8px ;
}
.colors{
    display: flex;
    margin-bottom: 2px;
    align-items: center;
    justify-content: center;
}
.colors .color__option{
    margin: 0 8px 10px 0;
    padding: 2px;
    background-image: url("https://media.canifa.com/attribute/swatch/images/sw001.png");
    width: 24px;
    height: 24px;
    border-radius: 50%;
    border:1px solid #e6e7e8;
    background-repeat: no-repeat;
    background-position: center;
    background-clip: content-box;
    background-size: cover;

    cursor: pointer;
}

.colors .color__option.selected{
    border-color:#333f48 ;

}
.minicart-bottom{
    box-shadow: 0 0 1px rgba(40,41,61,.08), 0 0.5px 2px rgba(96,97,112,.16);
    border-radius: 2px;
    padding: 0 16px 40px;
    background-color: #fff;
}
.product-item .product-item-name{
    font-size: 14px;
    color: #333f48;
    font-weight: 400;
    line-height: 1.43;
    text-overflow: ellipsis;
    margin-bottom: 4px;
}
.btnPay{
    margin-top: 10px;
    width: 100%;
    border-radius: 5px;
    font-weight: 700;
    padding: 12px;
    line-height: 24px;
    background-color: #da291c;
    color: #fff;

}
.product-item .product-item-name a{
    color: #333f48;
    text-decoration: none;

}

.sale{
    border-bottom: 1px solid #edf1f5;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 0;
}
.sale h3{
    font-weight: 700;
}
.sale span{
    color: #ccc;
}
.sale button {
    border: none;
    background-color: #fff;
    margin-left: 10px;
    cursor: pointer;
}
div.price{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.price h3,
.price span {
    font-weight: 700;
}

.clear{
    clear: both;
}
table{
    border: 1px solid #ccc;
    width: 100%;
    text-align: center;
} 
.tb-content .group-delete{
    margin-right: 10px;
}   
.tb-header { 
    font-size: 16px;
    font-weight: 600;
    border-bottom:1px solid #ccc;
}
.tb-header td{
    border:1px solid #ccc ;
    background-color:#F5F7F8 ;
    padding: 15px ;
}
.tb-content td{
    border:1px solid #ccc ;
    padding: 10px;

}
.tb-content{
    transition: all 0.3s ease-in-out;
}
.tb-content:hover{
    background-color: #ccd8dc;
    cursor: pointer;
}
.group-btn{
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.btnDelete{
    background-color: #C70039;
}

.btnUpdate{
    background-color: #12486B;
}
.btn{
    border: none;
    padding: 10px 20px;
    color: #fff;
    border-radius: 10px;
    cursor: pointer;
}
.btn:hover{
    opacity: 0.7;
}
.content .nav.active{
    display: block!important;
}
.btnCreate{
    background-color: #176B87;
}
 .search-input-group{
    float: right;
    margin-bottom: 20px;
}
 .search-input-group input{
    padding: 7px 7px 7px 36px;
    border-radius: 40px;
}
.btnSave.active{
    background-color: #C70039 !important;
    color: #fff !important;
    transition: all 0.3s ease-in-out;
}
 .btnSave.active:hover{
    opacity: 0.8;
}

.list-page{
    margin: 80px 0;
    list-style: none;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}
.list-page li{
    margin: 0 4px;
    cursor: pointer;
    width: 32px;
    height: 32px;
    display: inherit;
    font-size: 16px;
    justify-content: center;
    align-items: center;
}
.list-page li.active{
    border: 1px solid #da291c;
    border-radius: 5px;
    color: #da291c;
}
.list-page .page-next{
   display: none ;
}
.list-page #btn-page-next{
    border: none;
    background-color: #fff;
}
.list-page #btn-page-next i{
    font-size: 16px;
    color: #333f48 !important;
    width: 32px;


}
.logout{
    height: 42px;
}

.btnLogout{
    background-color: #C70039 !important;
    padding: 5px 20px;
    border-radius: 10px;
    cursor: pointer;
    margin: 0;
    width:100%;
    border: none;
    color: #fff;
    height:100%;

}
.btnLogout:hover{
    opacity: 0.8;
}
.btnMinus,.btnPlus{
    border-radius: 0;
    border: 1px solid #e6e1e1;
    background-color: #fff;
    width: 28px;
    height: 26px;
    min-width: 28px;
    padding: 0;
    color: #ccc;
}
