*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    max-width: 1528px;
    font-family: Montserrat;
    color: #333f48;
    letter-spacing: 0;
    box-sizing: border-box;
    font-size: 14px;
    margin: 0;
    line-height: 1.5;
    background-color: #fafafa;
    height: 100vh;

}
.row{
    display: flex;
    flex-wrap: nowrap;
    margin: 0 -16px;
}
.top-header{
    position: fixed;
    z-index: 99999;
    background-color: #fff;
    top:0;
    border-bottom: 1px solid #e6e7e8 ;
    width: 100%;
}
.top-header-container{
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    height: 96px;
    padding-left: 7.64vw;
    padding-right: 7.64vw;
    position: relative;
    z-index: 9999;
    align-items: center;
    margin: 0 auto;
    background-color: #fff;
}
.top-header-container .header-logo{
    margin-right: 16px;
    min-width: 72px;
}
.top-header-container .header-logo img{
    height: 38px;
    display: block;
}
#header-menu{
    margin-right: 16px;
    min-width: 625px;
}

#header-menu .header-menu-list{
    display: flex;
    list-style: none;
    align-items: center;
}
#header-menu .header-menu-list a{
    text-decoration: none;
    display: block;
    color: #333f48;
    font-weight: 700;
    font-size: 18px;
    line-height: 38px;
    text-transform: uppercase;
    padding: 0 16px;
    white-space: nowrap;
    position: relative;
    z-index: 100;
}
.search-input-group{
    position: relative;
    width: 280px;
    height: 38px;
    display: flex;
    align-items: center;
}
.search-input-group .search-btn{
    padding: 6px 12px;
    position: absolute;
    font-size: 16px;
    border: none;
    background-color: transparent;
    outline: 0;
    box-shadow: none;
}
.search-input-group .search-input{
    display: block;
    height: 38px;
    background-color: #fafafa;
    border: 1px solid #e6e7e8;
    border-radius: 40px;
    width: 100%;
    padding: 7px 7px 7px 36px;
    font-weight: 400;
    font-size: 16px;
    line-height: 22px;
    color: #333f48;
    outline: 0;
    box-shadow: none;
    width: 100%;
}



.header-group-icon{
    display: inherit;
    align-items: center;
    height: 44px;
}

.header-group-icon .header-icon{
    margin-left: 25px;
    color: rgba(51,63,72,.5);
    display: block;
    font-size: 12px;
    font-weight: 500;
    line-height: 16px;
    text-align: center;
    cursor: pointer;
    white-space: nowrap;
}
.header-group-icon .header-icon i{
    font-size: 18px;
    margin-bottom: 4px;
}
.header-group-icon .header-icon span {
    display: block;
    font-size: 14px;
}
.header-group-icon .header-cart-icon {
    position: relative;
}

.header-group-icon .header-cart-icon .count {
    font-weight: 500;
    font-size: 11px;
    line-height: 13px;
    text-align: center;
    color: #fff;
    text-shadow: 0 4px 8px rgba(16,24,40,.1), 0 2px 4px rgba(16,24,40,.06);
    background: #da291c;
    border-radius: 11px;
    min-width: 18px;
    position: absolute;
    left: 60%;
    margin-left: 18px;
    top: 0;
    
}
#content{
    margin-top: 96px;
}

.block-service
{
    border-bottom: 1px solid #e9eaeb;
    margin-bottom: 8px;
}
.block-service .container{
    margin-left: auto;
    margin-right: auto;
    max-width: none;
    padding-left: 7.64vw;
    padding-right: 7.64vw;
    width: 100%;
    display: flex;
    justify-content: space-between;
}
.block-service .item{
    color: rgba(51,63,72,0.5);
    font-weight: 500;
    font-size: 14px;
    line-height: 20px;
    display: flex;
    align-items: flex-start;
    padding: 18px 0 10px;
}
.block-service .item:first-child,
.block-service .item:last-child{
    width: 340px;
}
.block-service .item .icon{
    margin-right: 4px;
    width: 44px;
    min-width: 44px;
}
.block-service .item .icon img{
    max-width: 100% !important;
    width: auto;
    height: auto;
    display: block !important;
}
.block-service .item .content{
    flex-grow: 1;
}
.block-service .item h3{
    color : #333f48;
    font-weight: 700;
    font-size: 16px;
    line-height: 22px;
}
.list{
    display: flex;
    flex-wrap: wrap;
    margin: 0 -16px;
}
.list .item{
    width: 25%;
    padding: 0 16px;
    margin-bottom: 38px;
}
.list .item .img{
    width: 100%;
    display: block;
    overflow: hidden;
    margin-bottom: 16px;
    position: relative;
    border-radius: 2px;
}
.item .img img{
   height: 100%;
    width: 100%;
    object-fit: cover;
    margin: auto;
}
.block-product{
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    max-width: none;
    padding-left: 7.64vw;
    padding-right: 7.64vw;
    padding-top: 20px;
    padding-bottom: 20px;   
}
.block-product .block-heading{
    margin-bottom: 10px;
    display: flex;
    align-items: center;
}
.block-product .block-heading .title{
    margin: 0;
    font-weight: 700;
    font-size: 20px;
    line-height: 30px;
}
.block-product .block-heading .viewall{
    font-weight: 500;
    font-size: 14px;
    line-height: 30px;
    text-align: right;
    display: flex;
    align-items: center;
    -ms-flex-pack: end;
    justify-content: flex-end;
    width: fit-content;
    margin-left: auto;
    white-space: nowrap;
    cursor: pointer;
}

.block-product .block-heading .viewall::after{
    content: '';
    width: 20px;
    height: 20px;
    background-position: center;
    background-repeat: no-repeat;
    background-image: url("data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iMjAiIGhlaWdodD0iMjAiIHZpZXdCb3g9IjAgMCAyMCAyMCIgZmlsbD0ibm9uZSIgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIj4KPHBhdGggZD0iTTQuNDQ0NjYgMTQuMjQ5MUw1LjcxMzIyIDE1LjU1NDdMMTEuMTExMyA5Ljk5OTEzTDUuNzEzMjIgNC40NDM1OEw0LjQ0NDY2IDUuNzQ5MTNMOC41NjUyMiA5Ljk5OTEzTDQuNDQ0NjYgMTQuMjQ5MVoiIGZpbGw9IiNEQTI5MUMiLz4KPHBhdGggZD0iTTkuOTk5ODQgMTQuMjQ5MUwxMS4yNjg0IDE1LjU1NDdMMTYuNjY2NSA5Ljk5OTEzTDExLjI2ODQgNC40NDM1OEw5Ljk5OTg0IDUuNzQ5MTNMMTQuMTIwNCA5Ljk5OTEzTDkuOTk5ODQgMTQuMjQ5MVoiIGZpbGw9IiNEQTI5MUMiLz4KPC9zdmc+Cg==");
}
.block-content{
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    max-width: none;
    padding-left: 7.64vw;
    padding-right: 7.64vw;
    padding-top: 20px;
    padding-bottom: 20px;
}

.block-content .product-items{
    display: flex;
    margin:  0  -16px;
    flex-wrap: wrap;
}

.block-content .product-items .product-item{
    width: 25%;
    padding: 0 16px;
    margin-bottom: 38px;
}

.block-content .product-item .product-item-photo{
    display: block;
    width: 100%;
    margin-bottom: 36px;
    position: relative;
    overflow: hidden;
}
.product-item .product-item-photo .product-item-image-label{
    pointer-events: none;
}
.product-item-image-label img {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: contain;
}

.product-item .product-item-photo .product-item-button-tocart{
    background: rgba(250,250,250,.85);
    border-radius: 2px;
    height: 36px;
    cursor: pointer;
    position: absolute;
    z-index: 20;
    right: 8px;
    bottom: 8px;
    left: 8px;
    color: #333f48;
    font-weight: 600;
    font-size: 12px;
    line-height: 16px;
    display: flex;
    align-items: center;
    justify-content: center;
    visibility: hidden;
    opacity: 0;
    transition: all .5s linear;
}
.product-item:hover .product-item-button-tocart{
    opacity: 1;
    visibility: visible !important;
}
.product-item .product-item-photo .product-image-container{
    height: 100%;
    width: 100%;
    position: relative;
    display: block;
    text-decoration: none;
    color: #63b1bc;
    cursor: pointer;
}
.product-item-details .options-color{
    margin-bottom: 2px;
    flex-wrap: nowrap;
    overflow: hidden;
    display: flex;
    align-items: flex-start;
}
.product-item-details .options-color .option-color-item{
    background-image: url("https://media.canifa.com/attribute/swatch/images/sb013.png");
    width: 24px;
    height: 24px;
    min-width: 24px;
    display: inline-block;
    border-radius: 100%;
    margin-right: 8px;
    margin-bottom: 10px;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    border: 1px solid #e6e7e8;
    padding: 2px;
    background-clip: content-box!important;
    cursor: pointer;
}
.option-color-item.selected{
    border-color: #333f48  !important;
}
.product-item-details .product-item-name{
    display: block;
    color: #333f48;
    font-weight: 400;
    font-size: 14px;
    line-height: 1.43;
    margin: 0 0 4px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}
.product-item-details .normal-price{
    width: 100%;
    display: block;
    order: -1;
}
.product-item-details .price{
    font-weight: 700;
    font-size: 14px;
    line-height: 22px;
    display: block;
}