*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    max-width: 100%;
    width: 100%;
    font-family: Montserrat;
    color: #333f48;
    letter-spacing: 0;
    box-sizing: border-box;
    font-size: 14px;
    margin: 0;
    line-height: 1.5;
    background-color: #fafafa;
    height: 100vh;

}
.active-next-button{
   display: flex !important;
}
.container {
    padding: 20px 7.64vw;
    margin: 0 auto;
    width: 100%;

}
.col-4{
    width: 25%;
    max-width: 25%;
}
.col-3{
    width: 33.3333333%;
    max-width: 33.3333333%;

}
.row{
    display: flex;
    flex-wrap: nowrap;
    margin: 0 -16px;
}
.top-header{
    position: fixed;
    z-index: 99999;
    background-color: #fff;
    top:0;
    border-bottom: 1px solid #e6e7e8 ;
    width: 100%;
}
.top-header-container{
    display: flex;
    flex-wrap: wrap;
    flex-grow: 1;
    width: 100%;
    height: 96px;
    padding-left: 7.64vw;
    padding-right: 7.64vw;
    position: relative;
    z-index: 9999;
    align-items: center;
    margin: 0 auto;
    background-color: #fff;
}

.top-header-container .header-logo{
    margin-right: 16px;
    min-width: 72px;
}
.top-header-container .header-logo img{
    height: 38px;
    display: block;
}
#header-menu{
    margin-right: 16px;
    flex-grow: 1;
}

#header-menu .header-menu-list{
    display: flex;
    list-style: none;
    align-items: center;
}

#header-menu .header-menu-list .menu-item a::before{
    content: "";
    width: 100%;
    position: absolute;
    height: 4px;
    left: 0;
    right: 0;
    border-radius: 2px 2px 0 0;
    transition:all 0.3s ease;    
    background-color: #da291c;
    top: 50%;
    margin-top: 45px;
    transform: scaleX(0);
}
#header-menu .header-menu-list .menu-item:hover > a::before{

    transform: scaleX(1);
}
#header-menu .header-menu-list .menu-item > a{
    text-decoration: none;
    display: block;
    color: #333f48;
    font-weight: 700;
    font-size: 18px;
    line-height: 38px;
    text-transform: uppercase;
    padding: 0 16px;
    white-space: nowrap;
    position: relative;
    z-index: 100;
}


#header-menu .header-menu-list .sub-menu
{
    position: absolute;
    top: 50%;
    right: 0;
    margin-top: 46px;
    background-color:#fff ;
    border-top:  1px solid #e6e7e8;
    left: 0;
    padding: 17px 0 16px 0;
    opacity: 0;
    visibility: hidden;
}
#header-menu .header-menu-list .menu-item:hover .sub-menu{
    opacity: 1;
    visibility: visible;
}
.sub-menu .sub-menu-content {

    display: flex;
}
.sub-menu .sub-menu-content .sub-menu-left{
    width: 72.2%;
    font-weight: 400;
    font-size: 14px;
    line-height: 24px;
    
}
.sub-menu .sub-menu-content .submenu-cat{
    display: flex;
}

.sub-menu-content .submenu-cat .submenu-cat-heding{
    width: 11.81%;

}


.sub-menu-content .submenu-cat .submenu-cat-content{
    width: calc(100% - 11.81%);
    display: flex;
    flex-direction: row;
}
.sub-menu .submenu-cat-heading{

}
.submenu-cat .submenu-cat-content ul{
    list-style: none;
    margin-bottom: 12px;
    display: table;
    break-inside: avoid;
    flex-grow: 1;

}

.submenu-cat  li{
    padding: 3px 0;
}
.submenu-cat    li:hover a,
.submenu-cat    li:hover{
    color: #da291c;
    cursor: pointer;
}
.submenu-cat  li  a{
    text-decoration: none !important;
    color: #333f48;
    display: inline-block;
}
.submenu-cat .submenu-cat-heding li  a{
    color: rgba(51,63,72,.3);
}
.submenu-cat  .title{
    font-size: 12px;
    text-transform: uppercase;
    font-weight: 700;
}
.sub-menu .sub-menu-right{
    border-left:  1px solid #e6e7e8;
    padding-left: 22px;
    width: calc(100% -72.2%);
}
.sub-menu .sub-menu-right .sub-menu-item{
    margin-bottom: 23px;
}
.sub-menu .sub-menu-right li {
    padding: 3px 0;
    font-size: 12px;
    font-weight: 700;
}
.sub-menu .sub-menu-right li:hover{
    color: #da291c;
    cursor: pointer;
}
.sub-menu .sub-menu-image{
    max-width: 204px;
    width: 100%;
}

.sub-menu .sub-menu-image img{
    max-width: 204px;
    width: 100%;
}

.sub-menu .sub-menu-image .slick-dots{
    display: flex;
    position: absolute;
    justify-content: center;
    align-items: center;
    top: 80%;
    width: 100%;

}
.sub-menu .sub-menu-image .slick-dots li{
    margin: 0 4px;

}
.sub-menu .sub-menu-image .slick-dots button{
    font-size: 0;
    border-radius: 50%;
    width: 10px;
    height: 10px;
    border: none;
    outline: none;
    transition: all 0.2s ease;
}
.slick-dots .slick-active button{
    background-color: #da291c;
}
.search-input-group{
    position: relative;
    width: 280px;
    height: 38px;
    display: flex;
    align-items: center;
}
.search-input-group .search-btn{
    padding: 6px 12px;
    font-size: 16px;
    border: none;
    background-color: transparent;
    outline: 0;
    box-shadow: none;
    position: absolute;
    font-weight: 400 !important;
}

.search-input-group .search-input{
    display: block;
    height: 38px;
    background-color: #fafafa;
    border: 1px solid #e6e7e8;
    border-radius: 40px;
    width: 100%;
    padding: 7px 7px 7px 36px;
    font-weight: 400;
    font-size: 16px;
    line-height: 22px;
    color: #333f48;
    outline: 0;
    box-shadow: none;
    width: 100%;
}
.form-search{
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    background-color: #fff;
    z-index: 9999999;
    width: 100%;
    opacity: 0;
    transition: all  0.3s ease;
    visibility: hidden;
}
.opened .form-search{
    animation: form_top_bottom .3s ease;
    opacity: 1;
    visibility: visible;
}
@keyframes form_top_bottom{
    from{
        opacity: 0;
        transform: translateY(-150px);
    }
    to{
        opacity: 1;
        transform: translateY(0);
    }
}
.form-search .search-top{
    padding: 32px 0 26px 0;
    border-bottom:  1px solid #e6e7e8;
}
.form-search .search-top .container{
    max-width: 592px;
    position: relative;
    width:100%;
    margin: 0 auto;
    display: flex;
    padding: 0 !important;
    flex-grow: 1;
    align-items: center;
}
.form-search .search-top .search-input-group{
    max-width: 592px !important;
    width: 85%!important;
    cursor: auto  !important;
}
.form-search .search-top .search-input{
    width: 100%;
}
.search-close{
    width: 15%;
    height: 38px;
    display: inherit;
    justify-content: center;
    align-items: center;
    font-size: 20px;
    cursor: pointer;
}
.search-bottom .search-suggested-heading{
    display: flex;
    margin-bottom: 12px !important;
    align-items: flex-start;
    justify-content: space-between;
}
.search-bottom .search-suggested-heading h2{
    font-weight: 700;
    font-size: 14px;
    line-height: 22px;
}
.search-bottom .search-suggested-heading .remove__btn{
    font-weight: 400;
    font-size: 12px;
    line-height: 22px;
    color: #da291c;
    display: block;
    cursor: pointer;
    white-space: nowrap;
    border: none;
    background-color: #fff;
}
.search-bottom .search-suggested-content{
    display: flex;
    padding-bottom: 24px;
    margin-bottom: 24px;
    flex-wrap: wrap;
    border-bottom: 1px solid #edf1f5;
}
.search-suggested-prouct{
    padding-bottom:20px ;
}
.search-suggested-prouct .title{
    margin: 0 0 12px;
    font-weight: 700;
    font-size: 14px;
    line-height: 22px;
}
.search-suggested-prouct .product-items{
    display: flex;
    margin: 0 -16px;
    flex-wrap: wrap;
}
.search-bottom .search-suggested-content span{
    display: block;
    color: #333f48;
    font-weight: 400;
    font-size: 12px;
    line-height: 16px;
    cursor: pointer;
    border: 1px solid #e6e7e8;
    background-color: #fff;
    border-radius: 20px;
    padding: 8px 16px;
    margin: 0 4px 4px 0;
}
.header-group-icon{
    display: inherit;
    align-items: center;
    height: 44px;
}


.header-group-icon .header-icon{
    margin-left: 25px;
    color: rgba(51,63,72,.5);
    display: block;
    font-size: 12px;
    font-weight: 500;
    line-height: 16px;
    text-align: center;
    cursor: pointer;
    white-space: nowrap;
}
.header-group-icon .header-icon i{
    font-size: 18px;
    margin-bottom: 4px;
    font-weight: 600;
}
.header-group-icon .header-icon span {
    display: block;
    font-size: 14px;
}
.header-group-icon .header-cart-icon {
    position: relative;
}
.header-cart-icon .container-minicart{
    width: 100%;
    height: 100%;
    background-color: rgba(0,0,0,.2);
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    visibility: hidden;
    opacity: 0;
    
    transition: all 0.2s linear;
}
.block-minicart{
}
@keyframes RightToMid{
    from{
        transform: translateX(-250px);
        opacity: 0;
    }
    to{
        transform: translateX(0);
        opacity: 1;
    }
}
.container-minicart.opened{
    visibility: visible;
    opacity: 1;
}
.header-cart-icon .block-minicart{
    position: fixed !important;
    top: 0;
    background-color: #fff;
    right: 0;
    width: 424px;
    height: 100%;
    display: flex;
    flex-direction: column;
    transition: all 0.3s linear;
    z-index: 9999999;
}
.minicart-items{
    background-color: #fff;
    padding: 0 16px;
    list-style: none;
}
.minicart-items .minicart-item{
    padding: 16px 0;
    border-bottom: 1px solid #edf1f5;
}
.block-heading{
    padding: 17px 16px;
    position: relative;
    background-color: #fff;
    border-bottom: 1px solid #edf1f5;
}
.block-heading .minicart-title{
    font-weight: 700;
    font-size: 20px;
    list-style: 30px;
}
.minicart-item-photo{
    width: 74px;
    min-width: 74px;
    margin-right: 28px;
    position: relative;
    overflow: hidden;
}
.minicart-content{
    flex-grow: 1;
    background: #fafafa;
    overflow: auto;
}
.minicart-item-photo img{
    width: 100%;

}

.minicart-item-details{
    display: flex;
    width: calc(100% - 102px);
    flex-direction: column;
}
.mini-cart-info{
    display: flex;
    position: relative;
}
.minicart-item-name{
    margin: 0 0 8px;
    font-weight: 400;
    font-size: 12px;
    line-height: 16px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    color: #333f48;
    display: block;

}
.minicart-item-name a{
    color: #333f48;
    text-decoration: none;
} 
.minicart-item-option {
 font-weight: 400;
    font-size: 12px;
    line-height: 16px;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-align: center;
    align-items: center;
    margin-right: 8px;
}
.minicart-item-options{
    margin-bottom: 8px;
    display: flex;
    flex-wrap: wrap;
    align-items: center;

}
.minicart-item-bottom{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: auto;
}
.minicart-item-remove{
    width: 16px;
    height: 16px;
    border: none;
    padding: 0;
    cursor: pointer;
    background: rgba(250,250,250,.5);
    border-radius: 2px;
    background-repeat: no-repeat;
    background-position: center;
    background-image: url("data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iMTIiIGhlaWdodD0iMTIiIHZpZXdCb3g9IjAgMCAxMiAxMiIgZmlsbD0ibm9uZSIgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIj4KPHBhdGggZD0iTTkgM0wzIDlNMyAzTDkgOSIgc3Ryb2tlPSIjMzMzRjQ4IiBzdHJva2Utd2lkdGg9IjEuMiIgc3Ryb2tlLWxpbmVjYXA9InJvdW5kIiBzdHJva2UtbGluZWpvaW49InJvdW5kIi8+Cjwvc3ZnPgo=");
    position: absolute;
    top: 2px;
    left: 2px;
    z-index: 10;
}
.minicart-item-price{

}
.normal-price{
    font-weight: 700;
}
.btnMinus,.btnPlus{
    border-radius: 0;
    border: 1px solid #e6e1e1;
    background-color: #fff;
    width: 28px;
    height: 26px;
    min-width: 28px;
    padding: 0;
    color: #ccc;
}
.amount{
    padding: 5px;
}
.header-group-icon .header-cart-icon .count {
    font-weight: 500;
    font-size: 11px;
    line-height: 13px;
    text-align: center;
    color: #fff;
    text-shadow: 0 4px 8px rgba(16,24,40,.1), 0 2px 4px rgba(16,24,40,.06);
    background: #da291c;
    border-radius: 11px;
    min-width: 18px;
    position: absolute;
    left: 60%;
    margin-left: 18px;
    top: 0;
    
}
#content{
    margin-top: 96px;
}
.main-content{
}
.block-service
{
    border-bottom: 1px solid #e9eaeb;
    margin-bottom: 8px;
}
.block-service .container{
    margin-left: auto;
    margin-right: auto;
    max-width: none;
    padding-left: 7.64vw;
    padding-right: 7.64vw;
    width: 100%;
    display: flex;
    justify-content: space-between;
}
.block-service .item{
    color: rgba(51,63,72,0.5);
    font-weight: 500;
    font-size: 14px;
    line-height: 20px;
    display: flex;
    align-items: flex-start;
    padding: 18px 0 10px;
}
.block-service .item:first-child,
.block-service .item:last-child{
    width: 340px;
}
.block-service .item .icon{
    margin-right: 4px;
    width: 44px;
    min-width: 44px;
}
.block-service .item .icon img{
    max-width: 100% !important;
    width: auto;
    height: auto;
    display: block !important;
}
.block-service .item .content{
    flex-grow: 1;
}
.block-service .item h3{
    color : #333f48;
    font-weight: 700;
    font-size: 16px;
    line-height: 22px;
}
.list{
    display: flex;
    flex-wrap: wrap;
    margin: 0 -16px;
}
.list .item{
    width: 25%;
    padding: 0 16px;
    margin-bottom: 38px;
}
.list .item .img{
    width: 100%;
    display: block;
    overflow: hidden;
    margin-bottom: 16px;
    position: relative;
    border-radius: 2px;
}
.item .img img{
    height: 100%;
    width: 100%;
    object-fit: cover;
    margin: auto;
}

.block-product .block-heading{
    margin-bottom: 10px;
    display: flex;
    align-items: center;
}
.block-product .block-heading .title{
    margin: 0;
    font-weight: 700;
    font-size: 20px;
    line-height: 30px;
}
.viewall{
    font-weight: 500;
    font-size: 14px;
    line-height: 30px;
    text-align: right;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    width: fit-content;
    margin-left: auto;
    white-space: nowrap;
    cursor: pointer;
}

.viewall::after{
    content: '';
    width: 20px;
    height: 20px;
    background-position: center;
    background-repeat: no-repeat;
    background-image: url("data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iMjAiIGhlaWdodD0iMjAiIHZpZXdCb3g9IjAgMCAyMCAyMCIgZmlsbD0ibm9uZSIgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIj4KPHBhdGggZD0iTTQuNDQ0NjYgMTQuMjQ5MUw1LjcxMzIyIDE1LjU1NDdMMTEuMTExMyA5Ljk5OTEzTDUuNzEzMjIgNC40NDM1OEw0LjQ0NDY2IDUuNzQ5MTNMOC41NjUyMiA5Ljk5OTEzTDQuNDQ0NjYgMTQuMjQ5MVoiIGZpbGw9IiNEQTI5MUMiLz4KPHBhdGggZD0iTTkuOTk5ODQgMTQuMjQ5MUwxMS4yNjg0IDE1LjU1NDdMMTYuNjY2NSA5Ljk5OTEzTDExLjI2ODQgNC40NDM1OEw5Ljk5OTg0IDUuNzQ5MTNMMTQuMTIwNCA5Ljk5OTEzTDkuOTk5ODQgMTQuMjQ5MVoiIGZpbGw9IiNEQTI5MUMiLz4KPC9zdmc+Cg==");
}

.image-slider .product-item{
    position: relative;
}
.image {
    padding: 0 32px 0 0 ;
    width: 330px;
    display: block;
    margin-bottom: 16px;
}
.image img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.slick-arrow {
    position: absolute;
    top: 40%;
    border: none;
    width: 24px;
    height: 24px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 20px;
    line-height: 1;
    z-index: 5;
    transition: all 0.2s linear;
    cursor: pointer;
    background-color: rgba(255,255,255,0.5);
  }

  .slick-prev {
    left: 17px;
  }
  .slick-next {
    right: 15px;
  }

 
.product-item-image-label img {
height: 500px;
  margin-bottom: 20px;

} 
.minicart-close{
    border: none;
    background-color: #fff;
    font-size: 20px;
}
.block-heading{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.minucart-item{
    border-bottom: 1px solid #edf1f5;
    padding: 8px ;
}
.colors{
    display: flex;
    margin-bottom: 2px;
    align-items: center;
}
.colors .color__option{
    margin: 0 8px 10px 0;
    padding: 2px;
    background-image: url("https://media.canifa.com/attribute/swatch/images/sw001.png");
    width: 24px;
    height: 24px;
    border-radius: 50%;
    border:1px solid #e6e7e8;
    background-repeat: no-repeat;
    background-position: center;
    background-clip: content-box;
    background-size: cover;

    cursor: pointer;
}

.colors .color__option.selected{
    border-color:#333f48 ;

}
.minicart-bottom{
    box-shadow: 0 0 1px rgba(40,41,61,.08), 0 0.5px 2px rgba(96,97,112,.16);
    border-radius: 2px;
    padding: 0 16px 40px;
    background-color: #fff;
}
.product-item .product-item-name{
    font-size: 14px;
    color: #333f48;
    font-weight: 400;
    line-height: 1.43;
    text-overflow: ellipsis;
    margin-bottom: 4px;
}
.btnPay{
    margin-top: 10px;
    width: 100%;
    border-radius: 5px;
    font-weight: 700;
    padding: 12px;
    line-height: 24px;
    background-color: #da291c;
    color: #fff;

}
.product-item .product-item-name a{
    color: #333f48;
    text-decoration: none;

}

.sale{
    border-bottom: 1px solid #edf1f5;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 0;
}
.sale h3{
    font-weight: 700;
}
.sale span{
    color: #ccc;
}
.sale button {
    border: none;
    background-color: #fff;
    margin-left: 10px;
    cursor: pointer;
}
.price{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.price h3,
.price span {
    font-weight: 700;
}

.product-item .product-item-name:hover a{
    color: #da291c;
}
.product-item .price-box{
    display: flex;
}
.product-item .price-box .normal-price{
    width: 100%;
    font-weight: 700;
    font-size: 14px;
    line-height: 22px;
    display: block;
}


#content .site-main{
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    max-width: none;
    padding-left: 7.64vw;
    padding-right: 7.64vw;
    display: none;
}
.form-us.active,
.main-content.active,
.site-main.active {
    display: block !important;
}
.site-main.reuslt-search{
    opacity: 1;
    visibility: visible;
}
.site-main .page-main-search{
    margin-top: 24px;
}
.site-main .total-items{
    font-weight: 400;
    font-size: 14px;
    line-height: 22px;
    margin-bottom: 20px;
}
.site-main .main .product-items{
    display: flex;
    margin: 0 -16px;
    flex-wrap: wrap;
}
/*  */
/*  */
/*  */
/* Begin Block Collection */

.block-collection .block-title{
    margin-bottom: 10px;
    display: flex;
}

.block-collection .block-title h2{
    font-size: 20px;
    font-weight: 700;
    color:rgb(51,63,72);
    line-height: 30px;
}

.block-collection .block-content .item{
    padding: 0 16px;
}
.block-collection .block-content .item__img img{
    width: 100% !important;
}

.block-collection .slick-prev{
    left: 15px;
}
.block-collection .slick-next{
    right: 15px;
}
/* End Block Collection */
/*  */
/*  */
/*  */
/* Begin Block  New Product */

.block-new-product .block-heading{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom:10px ;
}
.block-new-product .block-heading h2{
    font-size: 20px;
    font-weight: 700;
    line-height: 30px;

}

.block-new-product .block-content .products{
    flex-wrap: wrap;
}
.product-item{
    padding: 0 16px;
    margin-bottom:38px ;
}

.product-item .item__image
{
    width: 100%;
    margin-bottom: 8px;
    position: relative;
}

  .product-item .item__image img
{
    width: 100%;
    object-fit: cover;
    height: 498px;
}
.list-page{
    margin: 80px 0;
    list-style: none;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}
.list-page li{
    margin: 0 4px;
    cursor: pointer;
    width: 32px;
    height: 32px;
    display: inherit;
    font-size: 16px;
    justify-content: center;
    align-items: center;
}
.list-page li.active{
    border: 1px solid #da291c;
    border-radius: 5px;
    color: #da291c;
}
.list-page .page-next{
   display: none ;
}
.list-page #btn-page-next{
    border: none;
    background-color: #fff;
}
.list-page #btn-page-next i{
    font-size: 16px;
    color: #333f48 !important;
    width: 32px;


}
/* End Block  New Product */
/*  */
/*  */
/*  */
/* Begin Block  Blog */
.block-title{
    margin-bottom: 20px;
    display: flex;
    align-items: center;
}

.block-title .title{
    font-size: 20px;
    line-height: 30px;
    text-transform: uppercase;
    font-weight: 700;
}
.block-blog .home-post-item{
    padding: 0 16px;
}
.block-blog .item__image{
    width: 100%;

}
.block-blog .item__image a{
}
.block-blog .item__image img{
    width: 100%;
    height: 397px;
    object-fit: cover;
}
.block-blog .item__details{
    padding:13px ;
    border-radius: 0 0 4px 4px;
    background-color: #fff;
    min-height: 228px;
    border: 1px solid #fff;
}

.block-blog .item__details .home-post-item-title{
    color: #333f48;
    margin: 0 0 46px;
    font-weight: 700;
    font-size: 20px;
    line-height: 30px;
    text-overflow: ellipsis;
    display: -webkit-box;
    line-clamp: 4;
    overflow: hidden;
    min-height: 120px;
}
.block-blog .item__details .home-post-item-title a{
    display: block;
    color: #333f48;
    text-decoration: none;
  
}
.block-blog .item__details .home-post-item-date{
    font-weight: 400;
    font-size: 14px;
    line-height: 20px;
    color: rgba(51,63,72,.5);
}
.home-post-item-cat {
    display: block;
    color: #333f48;
    font-weight: 400;
    font-size: 14px;
    line-height: 20px;
    margin: 0 0 8px;}
.home-post-item:hover .item__details{
    background-color: #fafafa;
    cursor: pointer;
}
.home-post-item-title:hover a{
    color: #da291c;
}
/* End Block  Blog */
/*  */
/*  */
/*  */
/* Begin Block  Subscribe */
.block-subscribe{
    background-color: #fafafa;
    border-radius: 4px 4px 0 0;
    padding: 28px 0 33px;
}
.block-subscribe .container{
    padding-top: 0;
    padding-bottom: 0;
}
.block-subscribe .block-title{
    font-weight: 700;
    font-size: 24px;
    line-height: 36px;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 0 8px;
}
.block-subscribe .des{
    font-weight: 500;
    font-size: 18px;
    line-height: 150%;
    text-align: center;
    color: rgba(51,63,72,.5);
}

.block-subscribe .block-content .form-subscribe
{
    position: relative;
    max-width: 592px;
    margin: 40px auto 28px;
}
.block-subscribe .block-content #email{
    display: block;
    width: 100%;
    background-color: #fff;
    border: 1px solid #e6e7e8;
    border-radius: 2px 0 0 2px;
    height: 48px;
    padding: 11px 180px 11px 21px;
    color: #333f48;
    font-weight: 400;
    font-size: 14px;
    line-height: 24px;
    outline: none;
}
.block-subscribe .block-content button{
    width: 173px;
    height: 48px;
    position: absolute;
    right: 0;
    top: 0;
    background-color: #da291c;
    border-radius: 0 2px 2px 0;
    border: none;
    outline: 0;
    cursor: pointer;
    text-align: center;
    font-weight: 700;
    font-size: 12px;
    line-height: 24px;
    color: #fff;
}
.block-subscribe .block-social{
    display: flex;
    align-items: center;
    justify-content: center;
}
.block-subscribe .block-social .social-item{
    background-color: #fff;
    box-shadow: 0 0.5px 2px rgba(96,97,112,.16);
     border-radius: 4px;
     margin: 0 16px;
     cursor: pointer;
}

.block-subscribe .block-social .social-item i{
    width: 38px;
    height: 38px;
    display: flex; 
    justify-content: center;
    align-items: center;   
    font-size: 18px;
}
/* End Block  Subscribe */
/*  */
/*  */
/*  */
/* Begin Block  Footer */
#footer{
    background-color: #fff;
    font-weight: 500;
    font-size: 14px;
    line-height: 1.71;
    border-top: 1px solid #e6e7e8;
}
#footer .container{
    padding-top: 0;
    padding-bottom: 0;
}
#footer .row{
    padding-top: 30px ;
    padding-bottom: 34px;
}
#footer .colum{
    padding: 0 16px;
}
#footer .footer-colum-1 {
    font-weight: 400;
   
    width: 33.333%;
}
#footer .footer-colum-1 p,
#footer .footer-colum-1 div{
    color: #939393;

}

#footer .footer-colum-2 {
   
    width: 16.66666667%;
}

#footer .footer-colum-3,
#footer .footer-colum-4 {
   
    width: 25%;
}
.colum .title{
    text-transform: uppercase;
    margin: 0 0 23px;
    font-weight: 700;
    font-size: 14px;
    line-height: 19px;
}
.footer-colum-1 p{
    max-width: 320px;
    font-size: 14px;
    line-height: 24px;
}
.footer-social{
    display: flex;
}
.footer-social .social-item{
    background-color: #fff;
    box-shadow: 0 0.5px 2px rgba(96,97,112,.16);
     border-radius: 4px;
     margin: 0 16px;
     cursor: pointer;
     margin-top: 20px;
}

.footer-social  .social-item i{
    width: 38px;
    height: 38px;
    display: flex; 
    justify-content: center;
    align-items: center;   
    font-size: 18px;
}

.colum ul{
    list-style: none;
}
.colum ul li{
    margin-bottom: 14px ;
    cursor: pointer;
    font-size: 16px;
}
.colum ul li:hover{
    color: #da291c;
}
.footer-colum-4 .application{
    display: flex;
    margin-bottom: 12px;
}
.application .bancode{
    margin-right: 8px;
}
.application .apps img {

    margin-right: 8px;
    width: 135px;
    cursor: pointer;
}
.application .bancode img{
    width: 88px;
    height: 88px;
}
#footer .footer-bottom{
    border-top: 1px solid #e6e7e8;
    font-weight: 700;
    font-size: 14px;
    line-height: 22px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    min-height: 69px;

}
#footer .footer-bottom img{
    height: 38px;

}
/* End Block  Footer */
/*  */
/*  */
/*  */

.block-new-product .product-item .product-item-button-tocart{
    bottom: 15px;
}
.product-item .product-item-button-tocart{
    background: rgba(250,250,250,.85);
    border-radius: 2px;
    height: 36px;
    cursor: pointer;
    position: absolute;
    z-index: 20;
    bottom: 8px;
    left: 8px;
    right: 8px;
    color: #333f48;
    font-weight: 600;
    font-size: 12px;
    line-height: 16px;
    display: flex;
    align-items: center;
    justify-content: center;
    visibility: hidden;
    opacity: 0;
    transition: all .5s linear;
}
.product-item:hover .product-item-button-tocart{
    opacity: 1;
    visibility: visible !important;
}
.form-us{
    display: none;
}
.form-us .content{
    display: flex;
}
.form-us .nav{
    background-color: #fff;
    box-shadow: 0 0 1px rgba(40,41,61,.08), 0 0.5px 2px rgba(96,97,112,.16);
    width: 15%;
    text-align: center;
    padding: 10px;
    border-radius: 5px;
    height: fit-content;

}
.form-us .nav .nav-item{
    list-style: none;
    padding: 15px;
    cursor: pointer;
    border-radius: 5px;
    transition: all 0.3s ease;
    margin-bottom: 20px;
    font-size: 16px;
    font-weight: 600;
    border-bottom: 1px solid #ccc;
}
.nav-item i {
    background-color: transparent;
    color: #000;
    font-size: 16px;
    margin-right: 10px;
}
.nav-item:hover,
.nav-item:hover i{
    color: #F5F7F8 !important;
    background-color: #176B87;

}
.nav-item.active i,
.nav-item.active{
    background-color: #176B87;
    color: #F5F7F8 !important;
}
.form-us .breadcrumb{
    display: flex;
    align-items: center;
    margin-bottom: 10px;

}
.form-us .breadcrumb-item,
.form-us .breadcrumb-item a{
    color: #a9a5a5;
    font-size: 14p;
}
.form-us .breadcrumb-item a{ 
    text-decoration: none;
}
.form-us .line{
    width: 2px;
    height: 15px;
    background-color: #ccc;
    margin:0px 10px;

}
.form-us .breadcrumb-item{
}

.form-us .account-main{
    box-shadow: 0 0 1px rgba(40,41,61,.08), 0 0.5px 2px rgba(96,97,112,.16);
    border-radius: 8px;
    padding: 20px;
    width: calc(68.53% - 32px);
    margin-top: 10px;
    margin: 0 auto;
    background-color: #fff;
}
.account-main .form-group{
    margin-bottom: 16px;
}
.account-main .title {
    margin-bottom: 24px;
    font-size: 24px;
    font-weight: 700;
}
.account-main .label{
    font-weight: 700;
    font-size: 16px;
    margin-bottom: 10px;
}
.account-main .control{
    display: flex;
    align-items: center;

}
.account-main .control div{
    display: inherit;
    align-items: center;
    justify-content: center;
}
.account-main .control label{
    margin-left: 10px;
    font-size: 16px;
    color: #74869b;
}
.account-main .control div:nth-child(2),
.account-main .control div:nth-child(3){
    margin-left: 25px;
}
.account-main input{
    width: 100%;
    height: 48px;
    padding: 10px 20px;
    outline: none;
    border: 1px solid #cbd5e1;
    color: #333f48;
    border-radius: 4px;
    outline: none;
    font-size: 14px;
}
.account-main input:focus{
    border-color: #63b1bc;
    outline: 2px solid rgba(99,177,188,.15);
}
.account-main .form-button{
    margin-bottom: 20px;
}
.account-main .btnSave{
    width: 100%;
    border: 1px solid ;
    background-color: #edf1f5;
    border-color: #cbd5e1;
    color: #a6b3c2;
    height: 48px;
    padding: 10px 20px;
    font-weight: 700;
    font-size: 16px;
    cursor: pointer;
}

.account-main .form.opened{
    display: block;
}
.account-main .form{
    display: none;
}
